<!-- Footer
================================================== -->
<footer class="bs-footer" role="contentinfo">
  <div class="container">
    <ul class="footer-links muted">
      <li>Document framework powered by <a href="http://bt-docs.liaohuqiu.net">Bt-docs</a></li>
      <li>&middot;</li>
      <li>Proudly hosted by <a href="https://pages.github.com">Github Pages</a></li>
    </ul>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/docs.min.js"></script>
