<header class="navbar navbar-static-top bs-docs-nav" role="banner">
    <div class="container">
        {% assign nav = site.left_nav[page.language] %}
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{nav.path}}" class="navbar-brand">{{ nav.title }}</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                {% for item in nav.items %}
                <li{% if page.path == item.path %} class="active"{% endif %}>
                <a href="{{ item.path }}">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% for item in site.right_nav %}
                <li>
                <a href="{{ item.url }}">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
